{
  "presets": [
    ["@babel/preset-env", { "bugfixes": true }],
    "@babel/preset-react",
    "@babel/preset-flow"
  ],
  "plugins": [
    "@babel/plugin-transform-flow-strip-types",
    "@babel/plugin-transform-runtime"
  ]
}
